html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
::-webkit-input-placeholder{
    color: #757575;
}
:-moz-placeholder{
   color: #757575;
   opacity: 1;
}
::-moz-placeholder{
   color: #757575;
   opacity: 1;
}
:-ms-input-placeholder{
   color: #757575;
}
body{
    font: 14px/1 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #212121;
    background: #f2f2f2;
    outline: 0;
    -webkit-appearance: none;
}
.header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 56px;
    background: #4285f4;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.white{
    background: #fff;
}
#btn-nav,
.logo,
#btn-back,
.search,
.btn-sign{
    position: absolute;
    top: 10px;
    height: 36px;
}
#btn-nav{
    display: block;
    left: 24px;
    width: 24px;
    height: 24px;
    margin-top: 6px;
    background: url(/images/ic_menu_white_24px.svg);
}
.logo{
    left: 80px;
    font-size: 21px;
    line-height: 36px;
}
.logo a{
    color: #fff;
}
#btn-back{
    display: none;
    top: 16px;
    left: 24px;
    height: 24px;
    padding-left: 56px;
    font-size: 21px;
    line-height: 24px;
    color: #212121;
    background: url(/images/ic_arrow_back_black_24px.svg) no-repeat;
}
.search{
    left: 50%;
    width: 900px;
    margin-left: -450px;
    background: rgba(255,255,255,.15);
    border-radius: 2px;
}
.search,
.btn-sign a,
.nav a{
    transition: background .3s cubic-bezier(.4,0,.2,1);
}
.search:hover{
    background: rgba(255,255,255,.25);
}
.search form{
    height: 100%;
    font-size: 0;
}
.search input{
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #fff;
    background: none;
    border: none;
    outline: 0;
}
input.search-input{
    width: 828px;
    width: calc(100% - 72px);
    padding-left: 36px;
    color: #212121;
}
.search:before{
    position: absolute;
    top: 6px;
    left: 6px;
    display: inline-block;
    content: '';
    width: 24px;
    height: 24px;
    background: url(/images/ic_search_black_24px.svg) no-repeat;
    opacity: .6;
}
input.search-submit{
    display: none;
    width: 72px;
    background: #4285f4;
    border-radius: 2px;
    cursor: pointer;
}
input[type="search"]::-webkit-input-placeholder{
    color: #fff;
}
input[type="search"]:-moz-placeholder{
   color: #fff;
   opacity: 1;
}
input[type="search"]::-moz-placeholder{
   color: #fff;
   opacity: 1;
}
input[type="search"]:-ms-input-placeholder{
   color: #fff;
}
input[type="search"]:focus::-webkit-input-placeholder{
    color: #757575;
}
input[type="search"]:focus:-moz-placeholder{
   color: #757575;
   opacity: 1;
}
input[type="search"]:focus::-moz-placeholder{
   color: #757575;
   opacity: 1;
}
input[type="search"]:focus:-ms-input-placeholder{
   color: #757575;
}
input.search-submit,
.sign h1,
.sign input[type="reset"],
.sign input[type="submit"],
.movie-player,
.movie-infro,
.movie-comments,
.movie-list table{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
input.search-submit:hover,
.movie-post input[type="submit"]:hover,
.sign input[type="reset"]:hover,
.sign input[type="submit"]:hover,
.movie-comments input:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
}
.btn-sign{
    right: 24px;
}
.btn-sign a{
    display: inline-block;
    padding: 0 16px;
    line-height: 36px;
    color: #fff;
    border-radius: 2px;
}
.btn-sign-up,
.sign-out{
    background: rgba(255,255,255,.15);
}
.btn-sign a:hover{
    background: rgba(255,255,255,.25);
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: visible;
    overflow-y: auto;
    z-index: 999;
    width: 240px;
    background: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transform: translateX(-250px);
    transition: transform .3s cubic-bezier(.4,0,.2,1);
}
.menu-show{
    transform: translateX(0);
}
.title{
    height: 160px;
    padding-left: 40px;
    font-size: 24px;
    line-height: 264px;
    color: #fff;
    background: #4285f4;
}
.nav{
    padding-top: 16px;
}
.nav a{
    display: block;
    padding: 16px 40px;
    line-height: 24px;
    color: #757575;
}
.nav a:hover{
    background: #e0e0e0;
}
.main{
    padding-top: 80px;
}
.content:before,
.content:after,
.movies-content:before,
.movies-content:after{
    display: table;
    content: "";
}
.content:after,
.movies-content:after{
    clear: both;
    overflow: hidden;
}
.movies-content{
    margin: 0 16px 56px 16px;
}
.headline{
    margin: 0 8px;
    background: #fff;
}
.headline h2{
    padding: 0 8px;
    line-height: 36px;
}
.headline h2 span{
    color: #4285f4;
}
.movie{
    width: calc(16.6666% - 16px);
    margin: 8px;
    float: left;
    background: #fff;
    border-radius: 2px;
}
.movie:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.movie a{
    display: block;
    margin: 8px;
}
.movie img{
    width: 100%;
    min-height: 277.234px;
}
.movie h2{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}
.movie-content{
    width: 898px;
    margin: 0 auto;
}
.movie-post input{
    margin-bottom: 16px;
    color: #212121;
    border: 1px solid transparent;
}
.movie-post input[type="text"]{
    display: block;
    width: 100%;
    height: 36px;
    text-indent: 16px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .21);
}
.movie-post input[type="file"]{
    width: calc(100% - 76px);
}
.movie-post input[type="submit"]{
    display: block;
    width: 72px;
    height: 36px;
    margin-bottom: 32px;
    color: #fff;
    background: #4285f4;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .21);
}
#movie-flashurl,
#movie-category{
    border: 1px solid #ff0000;
}
.movie-post label{
    display: block;
    margin-bottom: 16px;
    color: #ff0000;
}
.movie-post label input{
    margin-bottom: 0;
}
#genres{
    color: #4285f4;
}
.content{
    margin: 0 24px;
}
.movie-player{
    float: left;
    width: 854px;
    height: 480px;
    background: #fff;
}
.movie-infro{
    overflow-y: auto;
    float: left;
    width: 423px;
    height: 480px;
    margin-left: 24px;
    background: #fff;
}
.infro-content,
.comments-content{
    padding: 16px;
}
.infro-content h1{
    font-size: 24px;
    margin-bottom: 16px;
}
.infro-content p{
    line-height: 24px;
}
.infro-content p span{
    color: #4285f4;
}
.movie-comments{
    float: left;
    width: 854px;
    margin: 16px 0;
    background: #fff;
}
.movie-comments form{
    border-bottom: 1px solid #d9d9d9;
}
.movie-comments textarea{
    width: 816px;
    height: 120px;
    margin-bottom: 16px;
    border: 1px solid #d9d9d9;
}
.movie-comments input{
    width: 72px;
    height: 36px;
    margin-bottom: 16px;
    color: #fff;
    background: #4285f4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.movie-list table{
    width: 100%;
    background: #fff;
}
.movie-list table tr{
    height: 36px;
    border: 1px solid #d9d9d9;
}
.movie-list table tr:hover{
    background: #e0e0e0;
}
.movie-list table tr th,
.movie-list table tr td{
    width: 20%;
    line-height: 36px;
    text-align: center;
}
.movie-list table tr th.do,
.movie-list table tr td.do{
    width: 6.6666%;
}
.do a{
    color: #4285f4;
}
.comments-list{
    margin-bottom: 16px;
}
.comments-list li{
    line-height: 36px;
    border-bottom: 1px solid #d9d9d9;
}
.comments-list li span{
    color: #666;
}
.local{
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 56px;
}
.local-nav{
    display: none;
    width: 56px;
    height: 72px;
}
.local-nav a{
    display: block;
    line-height: 36px;
    color: #4285f4;
}
.local-nav a:hover{
    color: #d23f31;
}
.btn-local-nav{
    display: block;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    color: #fff;
    background: #d23f31;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.btn-local-nav:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.sign{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48);
    display: none;
}
.sign h1{
    font-size: 34px;
    padding: 63px 0;
    text-align: center;
    color: #fff;
    background: #4285f4;
}
.sign-content{
    padding: 0 16px;
}
.sign input{
    margin-top: 16px;
    color: #212121;
    border: 1px solid #d9d9d9;
}
.sign input[type="text"],
.sign input[type="password"]{
    width: 100%;
    height: 36px;
    text-indent: 16px;
}
.sign input[type="reset"],
.sign input[type="submit"]{
    padding: 0;
    width: 174px;
    height: 36px;
    border: none;
    cursor: pointer;
}
.sign input[type="submit"]{
    margin-left: 16px;
    color: #fff;
    background: #4285f4;
}
#mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: background .3s cubic-bezier(.4,0,.2,1);
}
.mask-show{
    visibility: visible;
    background: rgba(0,0,0,.5);
}
.mask-hide{
    visibility: hidden;
    background: transparent;
}