{% extends '../layouts/common.html' %}
        {% block content %}
        <main class="main">
            <section class="movie-post">
                <div class="movie-content">
                    <form action="/admin/movie/save" method="POST">
                        <input id="douban-movie-id" type="text" placeholder="豆瓣 Movie API ID" autofocus>
                        <input id="movie-title" name="movie[title]" type="text" value="{{ movie.title }}" placeholder="电影中文名">
                        <input id="movie-aka" name="movie[aka]" type="text" value="{{ movie.aka }}" placeholder="电影又名">
                        <input id="movie-poster" name="movie[poster]" type="text" value="{{ movie.poster }}" placeholder="电影海报">
                        <label>海报上传：<input name="uploadposter" type="file"></label>
                        <input id="movie-flashurl" name="movie[flash_url]" type="text" value="{{ movie.flash_url }}" placeholder="电影预告片播放URL">
                        <label>电影分类：
                        {% for category in categories -%}
                            <input name="movie[category]" type="radio" value="{{ category._id }}">{{ category.name }}
                        {%- endfor %}
                        </label>
                        <label>推荐选择电影分类：<span id="genres"></span></label>
                        <input id="movie-category" name="movie[category]" type="text" placeholder="电影分类中没有，在这里添加电影分类">
                        <input id="movie-directors" name="movie[directors]" type="text" value="{{ movie.directors }}" placeholder="电影导演">
                        <input id="movie-casts" name="movie[casts]" type="text" value="{{ movie.casts }}" placeholder="电影主演">
                        <input id="movie-year" name="movie[year]" type="text" value="{{ movie.year }}" placeholder="电影年代">
                        <input id="movie-countries" name="movie[countries]" type="text" value="{{ movie.countries }}" placeholder="制片国家/地区">
                        <input id="movie-summary" name="movie[summary]" type="text" value="{{ movie.summary }}" placeholder="电影简介">
                        <input type="submit" value="发布">
                    </form>
                </div>
            </section>
        </main>
        <script src="/js/admin.js"></script>
        {% endblock %}