{% extends '../layouts/common.html' %}
        {% block content %}
        <main class="main">
            <section id="movie">
                <div class="content">
                    <div class="movie-player">
                        <iframe width="854" height="480" src="{{ movie.flash_url }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <aside class="movie-infro">
                        <div class="infro-content">
                            <h1>{{ movie.title }}</h1>
                            <p><span>电影又名</span>：{{ movie.aka }}</p>
                            <p><span>电影分类</span>：<a href="">{{ movie.category }}</a></p>
                            <p><span>电影导演</span>：{{ movie.directors }}</p>
                            <p><span>电影主演</span>：{{ movie.casts }}</p>
                            <p><span>电影年代</span>：{{ movie.year }}</p>
                            <p><span>制片国家/地区</span>：{{ movie.countries }}</p>
                            <p><span>电影简介</span>：{{ movie.summary }}</p>
                            <p><span>点击量</span>：{{ movie.clicks }}</p>
                        </div>
                    </aside>
                    <div class="movie-comments">
                        <div class="comments-content">
                            <form action="/user/comment" method="POST">
                                {% if user %}
                                <textarea name="comment[content]"></textarea>
                                <input name="comment[movie]" type="hidden" value="{{ movie._id.toString() }}">
                                <input name="comment[from]" type="hidden" value="{{ user.username }}">
                                <input type="submit" value="评论">
                                {% else %}
                                <p>点击右上角<span>登录</span>或者<span>注册</span></p>
                                {% endif %}
                            </form>
                            <ul class="comments-list">
                            {% for comment in comments -%}
                            <li>
                                <div class="comment-author">{{ comment.from.charAt(0) }}</div>
                                <div class="comment-body">
                                    <h3>{{ comment.from }}</h3>
                                    <p>{{ comment.content }}</p>
                                </div>
                            {%- endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% endblock %}