{% extends '../layouts/common.html' %}
        {% block content %}
        <main class="main">
            <section class="movie-list">
                <div class="movie-content">
                    <table>
                        <tr>
                            <th>电影名</th>
                            <th>电影导演</th>
                            <th>电影年代</th>
                            <th>制片国家/地区</th>
                            <th class="do">查看</th>
                            <th class="do">修改</th>
                            <th class="do">删除</th>
                        </tr>
                        {% for movie in movies -%}
                        <tr>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.directors }}</td>
                            <td>{{ movie.year }}</td>
                            <td>{{ movie.countries }}</td>
                            <td class="do"><a href="/movie/{{ movie._id.toString() }}" target="_blank">查看</a></td>
                            <td class="do"><a href="/admin/movie/update/{{ movie._id.toString() }}" target="_blank">修改</a></td>
                            <td class="do"><a href="javascript:void(0);" data-id="{{ movie._id.toString() }}">删除</a></td>
                        </tr>
                        {%- endfor %}
                    </table>
                </div>
            </section>
        </main>
        {% endblock %}